{% extends "base.html" %}

{% block title %}Карта: {{ card_dto.card.class_card_name }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='css/card_view.css') }}">
{% endblock %}

{% block content %}
<div class="card-view-wrapper">
<div class="selected-card">

    <div class="card-image">
        <img src="{{ url_for('static', path=card_dto.card.class_card_pic) }}" alt="Карта">
    </div>
    <div class="card-info">
        <div class="card-name">{{ card_dto.card.class_card_name }}</div>
        <div class="card-stats">
            <div class="card-stat">💪Уровень: {{ card_dto.card.level }} / {{ card_dto.card.max_level }}</div>
            <div class="card-stat">📚Опыт: {{ card_dto.card.current_exp }}/{{ card_dto.card.need_exp }}</div>
            <div class="card-stat">✨Редкость: {{ card_dto.card.rarity_card_name }}</div>
            <div class="card-stat">🏷️Тип: {{ card_dto.card.type_card_name }}</div>

            {% if card_dto.amulet %}
            {% if card_dto.amulet.bonus_hp > 0%}
            <div class="card-stat">❤️ Здоровье: {{ card_dto.card.hp }} +{{ card_dto.amulet.bonus_hp }}</div>
            {% else %}
            <div class="card-stat">❤️ Здоровье: {{ card_dto.card.hp }} {{ card_dto.amulet.bonus_hp }}</div>
            {% endif %}

            {% if card_dto.amulet.bonus_damage > 0%}
            <div class="card-stat">⚔️ Урон: {{ card_dto.card.damage }} +{{ card_dto.amulet.bonus_damage }}</div>
            {% else %}
            <div class="card-stat">⚔️ Урон: {{ card_dto.card.damage }} {{ card_dto.amulet.bonus_damage }}</div>
            {% endif %}


            {% else %}
            <div class="card-stat">❤️ Здоровье: {{ card_dto.card.hp }}</div>
            <div class="card-stat">⚔️ Урон: {{ card_dto.card.damage }}</div>
            {% endif %}
            <div class="card-stat">🛠️Усилений: {{ card_dto.card.enhancement }}/{{ card_dto.card.max_enhancement }}</div>
            <div class="card-stat">🧬Слияний: {{ card_dto.card.merger }}/{{ card_dto.card.max_merger }}</div>
        </div>
        {% if card_dto.amulet %}
        <div class="amulet-info">
            <strong>Амулет:</strong> {{ card_dto.amulet.name }}
        </div>
        {% endif %}
        {% if card_dto.is_owner %}
<div class="card-actions-column">
    {% if card_dto.card.enhancement < card_dto.card.max_enhancement %}
        <a href="" class="card-action-btn">🛠️ Усиление</a>
    {% else %}
        <span class="card-action-btn disabled">🛠️ Усиление</span>
    {% endif %}

    {% if card_dto.card.level < card_dto.card.max_level %}
        <a href="#" class="card-action-btn">💪 Улучшение</a>
    {% else %}
        <span class="card-action-btn disabled">💪 Улучшение</span>
    {% endif %}

    {% if card_dto.card.merger < card_dto.card.max_merger %}
        <a href="{{ url_for('view_merge_card', card_id=card_dto.card.id) }}" class="card-action-btn">🧬 Слияние</a>
    {% else %}
        <span class="card-action-btn disabled">🧬 Слияние</span>
    {% endif %}

    <a href="#" class="card-action-btn">🔮 Амулет</a>
</div>
</div>
{% endif %}
    </div>
</div>
</div>
{%endblock%}